<div class="flex items-center justify-between px-5 py-3 w-full">
  <h1 class="font-bold text-2xl w-full">Conversations</h1>
  <!-- chevron -->
</div>
<!-- menu -->
<div class="w-full text-center">
  <span>Status: Connected</span>
</div>
<!-- chat list -->
<a href="/create">
  <div
    class="absolute bg-blue-500 w-20 h-20 flex justify-center items-center rounded-[50%] cursor-pointer right-10 bottom-10"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-10"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 4.5v15m7.5-7.5h-15"
      />
    </svg>
  </div>
</a>
